extends layout

block content
    h1= title
    
    div. data-role="page" id="page1">

        <div data-role="content">
        </br>
            <h4> Search by dates: <input type="checkbox" id="dates" name ="dates" value="yes"> </h4> 
            <table class="form-inline">
                </tr class >
                    <td>
                        <label for="from">From</label>
                        <input type="text" id="from" name="from">
                        <label for="to">to</label>
                        <input type="text" id="to" name="to">
                    </td>
                    <td>
                        <label id="error" name="error" style="color:#FF0000">
                        </label>
                    </td>
                </tr>
            </table>
        </br>
            <h4> Function list </h4> 
            <table class="form-inline">
                <tr>
                    <td>
                        <select class="selectpicker" name="combo" id="combo"></select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-lg active" id="refresh" name ="refresh" onClick="showFunctionTimes();">Refresh</button>
                    </td>
                </tr>
            </table>
        </br>
    </div>


    table.table-responsive
        h4 Summary
        tr
            td
                // FUNCTION SUMMARY LIST
                #functionSummary
                    table.table.table-striped.table-bordered
                        thead
                            th Average execution time
                            th Max execution time
                            th Min execution time
                        tbody
                // /FUNCTION SUMMARY LIST

    br

    table.table-responsive
        h4 Function execution time
        tr
            td
                // FUNCTION TIMES LIST
                #functionTimes
                    table.table.table-striped.table-bordered
                        thead
                            th #
                            th Timestamp
                            th Execution time
                        tbody
                // /FUNCTION TIMES LIST

  
  

