extends layout

block content
    h1= title
    p Skilaverkefni 3 - Interface
    
    div. data-role="page" id="page1">
        <div data-role="content">
            <table>
                <tr>
                    <td>
                        <label for="mydate">From Date</label>
                        <input name="Date1" id="Date1" type="date" data-role="datebox" data-options='{"mode":"calbox","overrideDateFormat":"%m, %d, %Y"}' />
                    </td>
                    <td>
                        <label for="mydate2">To Date</label>
                        <input name="Date2" id="Date2" type="date" data-role="datebox" data-options='{"mode":"calbox","overrideDateFormat":"%m, %d, %Y"}' />
                    </td>
                </tr>
            </table>
                


    table
        tr
            td
                // FUNCTIONS LIST
                h2 Functions
                #functionList
                    table
                        thead
                            th Keys
                        tbody
                // /FUNCTIONS LIST
            
            td  &nbsp &nbsp &nbsp &nbsp
            
            td
                // FUNCTION TIMES LIST
                h2 List of Function Times 
                #functionTimes
                    table
                        thead
                            th Timestamp
                            th ExecutionTime
                        tbody
                // /FUNCTION TIMES LIST




