extends layout

block content
    h1= title
    p Skilaverkefni 3 - Interface
    
    div. data-role="page" id="page1">
        <div data-role="content">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" id="dates" value="yes">Limit by dates: 
                    </td>
                    <td>
                        &nbsp &nbsp &nbsp 
                    </td>
                    <td>
                        <label for="from">From</label>
                        <input type="text" id="from" name="from">
                        <label for="to">to</label>
                        <input type="text" id="to" name="to">
                    </td>
                </tr>
            </table>
                


    table
        tr
            td
                // FUNCTIONS LIST
                h2 Functions
                #functionList
                    table
                        thead
                            th Keys
                        tbody
                // /FUNCTIONS LIST
            
            td  &nbsp &nbsp &nbsp &nbsp
            
            td
                // FUNCTION TIMES LIST
                h2 List of Function Times 
                #functionTimes
                    table
                        thead
                            th Timestamp
                            th ExecutionTime
                        tbody
                // /FUNCTION TIMES LIST




