extends layout

block content
    h1= title
    
    div. data-role="page" id="page1">
        <div data-role="content">
        </br>
        </br>
            <table>
                <h2> Search by dates: <input type="checkbox" id="dates" name ="dates" value="yes"> </h2> 
                </tr>
                    <td>
                        <label for="from">From</label>
                        <input type="text" id="from" name="from">
                        <label for="to">to</label>
                        <input type="text" id="to" name="to">
                    </td>
                    <td>
                        <label id="error" name="error" style="color:#FF0000">
                        </label>
                    </td>
                </tr>
            </table>
        </br>
        </br>
            <table>
                <h2> Function list </h2> 
                <tr>
                    <td>
                        <select name="combo" id="combo" onClick="showFunctionTimes(this.value);" onChange="showFunctionTimes(this.value);"></select>
                    </td>
                </tr>
            </table>
        </br>
        </br>
    </div>

    table
        tr
            td
                // FUNCTION TIMES LIST
                h2 Function execution time
                #functionTimes
                    table
                        thead
                            th Timestamp
                            th ExecutionTime
                        tbody
                // /FUNCTION TIMES LIST




