doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/modules/exporting.js')
    
    link(rel='stylesheet', href='/javascripts/date/jquery-ui.css')
    script(src='/javascripts/date/jquery-ui.js')
    link(rel='stylesheet", href="/javascripts/date/jquery-ui.theme.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')

    script(src='/moment/moment.js')

    script.
        $(function() {
            $( "#from" ).datepicker({
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "yy-mm-dd",
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                    document.getElementById("error").innerHTML = "";
                }
            });
            $( "#to" ).datepicker({
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "yy-mm-dd",
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                    document.getElementById("error").innerHTML = "";
                }
            });
        });

    
    
  body
    block content
    
